
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="true"></ion-menu-button>
  </ion-buttons>
  <div class="ion-page" id="main">
    <ion-header>
      <ion-searchbar style="text-align: right;align-items: flex-end;"></ion-searchbar>
    </ion-header>
   
  </div>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
   
  </ion-header>
  <div id="map">
  <iframe width="401" height="576" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=401&amp;height=576&amp;hl=en&amp;q=%20Chihuahua%20City+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=daa21f1fdc47594a16235c8b4eb8b635931bda09'></script>
</div>
  <ion-app>
    <ion-menu side="start" menu-id="first" content-id="main" id="menu">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        
        <ion-nav>
           <ion-item routerLink="../settings/settings.module">
            <ion-tab-button tab='settings'>
              <ion-icon name="settings-outline"></ion-icon>
           <ion-label> Settings</ion-label>
            </ion-tab-button></ion-item>
        
            <ion-item>
              <ion-tab-button tab=''>
                <ion-icon name="log-out-outline"></ion-icon>
             <ion-label> Logout</ion-label>
              </ion-tab-button></ion-item>
         
        </ion-nav>


        
      </ion-content>
    
    </ion-menu>
  
  </ion-app>

</ion-content>
