
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-searchbar></ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
   
  </ion-header>
  <app-explore-container name="Tab 2 page"></app-explore-container>


  <ion-app>
    <ion-menu side="start" menu-id="first" content-id="main" id="menu">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="settings-outline"></ion-icon>
            <ion-text>&nbsp;&nbsp;&nbsp;&nbsp; Settings</ion-text>
          </ion-item>
          <ion-item>
            <ion-icon name="exit-outline"></ion-icon>
            <ion-text>&nbsp;&nbsp;&nbsp;&nbsp; Logout</ion-text>
          </ion-item>
        </ion-list>
      </ion-content>
      
    </ion-menu>
  <div class="ion-page" id="main">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu - Basic</ion-title>
        </ion-toolbar>
      </ion-header>
     
    </div>
   
  
  </ion-app>

</ion-content>
