
<script src="geolocalizacion.js"></script>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="true"></ion-menu-button>
  </ion-buttons>
  <div class="ion-page" id="main">
    <ion-header>
      <ion-searchbar style="text-align: right;align-items: flex-end;"></ion-searchbar>
    </ion-header>
   
  </div>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
   
  </ion-header>
  
  <section id="ubicacion">
    <ion-button id="btnObtener">
      OK
    </ion-button>
    https://goo.gl/maps/7QhAuFSut6oHc6Gc7
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d111598.56387736923!2d-106.11159900815417!3d28.662401856621518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgoogle%20maps!5e0!3m2!1ses!2smx!4v1591166738669!5m2!1ses!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>  </section>  
<ion-app>
    <ion-menu side="start" menu-id="first" content-id="main" id="menu">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        
        <ion-nav>
           <ion-item routerLink="../settings/settings.module">
            <ion-tab-button tab='settings'>
              <ion-icon name="settings-outline"></ion-icon>
           <ion-label> Settings</ion-label>
            </ion-tab-button></ion-item>
        
            <ion-item>
              <ion-tab-button tab=''>
                <ion-icon name="log-out-outline"></ion-icon>
             <ion-label> Logout</ion-label>
              </ion-tab-button></ion-item>
         
        </ion-nav>


        
      </ion-content>
    
    </ion-menu>
  
  </ion-app>

</ion-content>
