import <img src="img.jpeg" alt="" id="imagen">
<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center;">
    <ion-title style="text-align: center;">
      Historial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">Recientes
  </ion-header>
  <ion-list>
    <ion-item>
      <p>
        Limpiar casa.<br>Excelente servicio<br>XX/XX/XXX
      </p>
    </ion-item>
    <ion-item>
      <p>
        Quitar escombro.<br>Muy bueno<br>XX/XX/XXX
      </p>
    </ion-item>
    <ion-item>
      <p>
        Cuidar adulto mayor.<br>Recomendado<br>XX/XX/XXX
      </p>
    </ion-item>
    <ion-item>
      <p>
        Fontanero.<br>Muy bien<br>XX/XX/XXX
      </p>
    </ion-item>
  </ion-list>
</ion-content>
