<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="align-content: center;">
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
   
  </ion-header>
  <img src="https://image.freepik.com/vector-gratis/perfil-empresario-dibujos-animados_18591-58479.jpg" style="height: 200px;
  vertical-align: top;">
  <br>
  <br>
  <ion-text>Nombre de usuario</ion-text>
  <ion-text>Edad</ion-text>
  <ion-text>Correo</ion-text>
  <ion-text>Teléfono</ion-text>
</ion-content>
