<ion-toolbar>
    <ion-title style="text-align: center;">
        Settings
    </ion-title>
    
</ion-toolbar>
<ion-content>
    <ion-app>
        <ion-list>
            <ion-item>
                <ion-label>Password</ion-label>
                <ion-tab-button>
                    <ion-icon name="pencil-outline"></ion-icon>
                </ion-tab-button>
            </ion-item>
            <ion-item>
                <ion-label>Email</ion-label>
                <ion-tab-button>
                    <ion-icon name="pencil-outline"></ion-icon>
                </ion-tab-button>
                
            </ion-item>
            <ion-item>
                <ion-label>Phone</ion-label><ion-tab-button>
                    <ion-icon name="pencil-outline"></ion-icon>
                </ion-tab-button>
            </ion-item>
            <ion-item>
                <ion-label>Others
                </ion-label><ion-tab-button>
                    <ion-icon name="pencil-outline"></ion-icon>
                    
                </ion-tab-button>
            </ion-item>
        </ion-list>
        
    </ion-app>
</ion-content>